@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/kyv7urt.css");


html,
body {
  max-width: 100vw;
  background-color: bisque;

}

.custom-img {
  background-image: url(/hero.jpg);
  background-position: center;
  background-size: cover;

}